$color: white;
$btnColor: #01689A;
$btnBorderColor:  #81bdfa;

.btn{
  margin: 8px;
  height: 44px;
  color: $color;
  background-color: $btnColor;
  padding-right: 16px;
  border: 2px solid $btnColor;
}

.btn:disabled {
  background: #01689A;
  opacity: 0.2;
}
.btn:active{
  border-color: $btnBorderColor;
}