
$btnBorderColor:  #81bdfa;

.btn{
  margin: 8px;
  height: 44px;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  border-radius: 0%;
}


.btn:disabled {
  
  opacity: 0.2;
}
.btn:active{
  border: 2px solid $btnBorderColor;
}

.btnYellow{
  background-color: yellow;
  color: black; 
}

.icon{
 padding-left: 0;
 svg{
  width: 44px; 
  }
}