$color: white;
$btnColor: #01689A;
$btnBorderColor:  #81bdfa;

.btn{
  margin: 8px;
  height: 44px;
  color: $color;
  background-color: $btnColor;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
}

.btn:disabled {
  
  opacity: 0.2;
}
.btn:active{
  
  border: 2px solid $btnBorderColor;
}

.buttonYellow{
  background-color: yellow;
  color: black; 
}